.App {
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #272848;
}

.btn-primary {
    background-color: #6c6d84;
    border-color: #6c6d84;
}

.navbar {
    background-color: #6c6d84;
}

.container-fluid a {
    color: #ffffff;
}

.hidden {
    display: none;
    visibility: hidden;
}
